@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap'); 

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Roboto";
}

.nav_bar{
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.logo img{
    height: 100px;
    width: 100px;
    border-radius: 60px;
}
.logo{
    margin-top: 20px;

}
.search{
    border:  2px solid green;
    width: 300px;
    height: 35px;
    display: flex;
    border-radius: 4px;
    margin-top: 20px;
}
.search input{
    padding-left: 40px;
    height: 35px;
    border: 0;
    width: 90%;
}
.search i{
    margin-left: 10px;
    margin-top: 6px;
    font-size: 18px;
}
.search_i{
    width: 10%;
    height: 35px;
    background-color: green;
}
.profile{
    margin-top: 20px;
    display: flex;
}
.profile i{
    font-size: 25px;
    margin-right: 10px;
}
.icons{
    font-size: 20px;
    margin-top: 20px;
}
.icons i{
    margin-right: 0px;
    /* color: #fff; */
}
.arrow{
    transform:rotate(90deg);
}

/* nav */

.nav{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 10px;
}
.logo1{

}
.links{
    
}
.links a{
    text-decoration: 0;
    color: black;
    margin-right: 20px;
}
.phone{
    display: flex;
}
.phone i{
    color: green;
    margin-right: 10px;
}
/* center card */
.center{
    background-color: #93ffcd;
    height: 400px;
    display: flex;
}
.left{
    width: 50%;
    height: 100%;
    padding-left: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    box-sizing: border-box;
}
.left button{
    background-color: green;
    border: 0;
    width:120px;
    border-radius: 4px;
    padding: 5px 20px;
    color: #fff;
    display: flex;
    align-items: center;
}
.left button i{
    margin-left: 10px;
}
.title{

}
.right{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
align-items: center;
}
.right_img{
display: flex;
height: 350px;
width: 350px;
justify-content: center;
align-items: center;
background-color: #b8b6b6;
border-radius: 50%; 
padding: 10px;

}
.right_img img{
    height: 400px;
    width: 400px;   
}
.right_img img:hover{
    transform: scale(1.05);
}
/* center card 2 */

.center_1{
   height: 600px;
   display: flex;
   flex-direction: column;
}
.top_1{
 height: 100px;
 width: 100%;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
}
.top_1 span{
    text-align: center;
}
.bottom{
   height:500px ;
   display: flex;
}
.btm_left{
 width: 30%;
 height: 100%;
 display: flex;
 flex-direction: column;
 gap: 15px;
 margin-left: 30px;
}
.btm_right{
width: 70%;
height: 100%;
margin-left: 10px;
}
.btm_right img{
    margin-right: 20px;
}
/*  -------- */
.btm_card{
    width: 100%;
    height: 20%;
    background-color: #f1efef93;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
/* ------ */
.center_2{
height: 800px;
display: flex;
flex-direction: column;
}
.top_2{
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.top_2 span{
    text-align: center;
}
.bottom_1{
    height: 700px;
    display: flex;
    flex-direction: row;
    margin: 0x;
}
.btm_lft_top{
    height: 40%;
    width: 100%;
    display: flex;
 flex-direction: column;
 gap: 15px;
 
}
.btm-left{
    width: 30%;
}
.btm_lft_btm{
    height: 60%;
    width: 100%;
    margin-top: 20px;
}
.btm_lft_btm img{
    height: 400px;
    width: 252px;
}
.btm_right_1{
    display: flex;
    flex-direction: column;
    width: 80%;
}
.btm_rit_top{
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: row;
}
.btm_rit_btm{
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}
.btm_card_2{
    width: 100%;
    height: 20%;
    background-color: #f1efef93;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.btm_card_2 span{
    margin-left: 15px;
}
.btm_card_2 i{
    margin-right: 15px;
}
.items{
    border: 1px solid #f1efefe6;
    height: 100%;
    width: 252px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
    box-shadow: #b8a99d;
    border-radius: 10px;
}
.item_img{
    margin-top:0px;
    background-color: #dad8d8a5;
    height: 173px;
    width: 161px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.item_i{
    background-color: #e2dfdfa4;
    font-size: 22px;
    border-radius: 29px;
    height: 34px;
    width: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: green;
    margin-top: -20px;
}
.item_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 20px;
}
.item_content span{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #9a9999fd;
}
.item_content p{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    text-align: center;
}
.items:hover{
    transform: scale(1.03);
}
.it
.price{
    display: flex;

}
.price span{
    text-decoration: line-through;
    margin-left: 20px;
}
.stars{
    display: flex;
}
.str_icon{
    display: flex;
    flex-direction: row;
    
}

.dash{
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 20px;

}
.dsh_crd{
    width: 25%;
    height: 100%;
    background-color: #e4e2e2af;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 30px;
    i{
       color: green;
       font-size: 20px; 
    }
    span{
        color: #858181fd;
    }
}
/* ---------- */
.middle_img{
    background-image: url(./images/sec5_bg.png.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
    width:100%;
    position: absolute;
}
.midle_data{
    background-color: #f3ddcd;
    height: 200px;
    width: 550px;
    margin-top: 20px;
    position: relative;
    left: 90px;
    top: 100px;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    span{
        color: #858181fd;

    }
    img{
        margin: 10px;
        border: 1px solid rgb(193, 6, 6);
    }
}
/* ------center_3------- */
.center_3{
    height: 460px;
    width: auto;
    margin-top: 500px;

    
}
.top_3{
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.bottom_2{
    height: 360px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.btm_2card{
    width: 25%;
    height: 70%;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 54px;
    margin-left: 10px;
}
.profile_pic1{
    height: 100px;
    width: 100px;
    border-radius: 60px;
    margin-top: -300px;
    border: 5px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(./images/bmt_card.png.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #fff;
    position: absolute;
    margin-left: 10px;
}
.profile_pic2{
    height: 100px;
    width: 100px;
    border-radius: 60px;
    margin-top: -300px;
    border: 5px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(./images/btm_card2.png.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #fff;
    position: absolute;
    margin-left: 10px;

}
.profile_pic3{
    height: 100px;
    width: 100px;
    border-radius: 60px;
    margin-top: -300px;
    border: 5px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(./images/btm_card3.png.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #fff;
    position: absolute;
    margin-left: 10px;
}
.prf_crd{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 48px;
    h2{
        margin-top: -10px;
    }
    span{
        margin-top: 10px;
        margin-bottom: 20px;
        
    }
    p{
        color: rgb(114, 109, 109);
        text-align: center;
        
    }
}
.stars{
    
display: flex;
    
padding-top: 6px;
    
height: 24px;
    
width: 182px;
    
color: gold;
    
font-size: 18px;
}
/* --------------------------- */
.center_4{
    height: 550px;
}
.top_4{
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 40px;

}
.bottom_3{
    height: 450px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
}
.btm_3cards{
    height: 100%;
    width: 30%;
}
.btm_3top{
 width: 100%;
 height: 40%;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 
p{
    font-weight:bold;
    text-align: center;
    width: 200px;
    margin:20px 0px;
}
}
.read_more{
 color: green;
 i{
    margin-left: 20px;
 }
}
.btm_3btm_c1{
    background-image: url(./images/bowl.png.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    height: 60%;
    width: 100%;
}
.btm_3btm_c2{
    background-image: url(./images/bowl_2.png.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    height: 60%;
    width: 100%;

}
.btm_3btm_c3{
    background-image: url(./images/bowl_3png.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    height: 60%;
    width: 100%;
}
/* -------- */
.footer_section{
    height: 400px;
    margin-top: 100px;
    background-color: rgb(81, 215, 130);;
}
.footer_top{
    height: 80%;
    width: 100%;
    border-bottom: 2px solid white;
    display: flex;
    justify-content: space-around;
}
.footer_top_1 p{
    color: #fff;
    font-size: 18px;
    width: 85%;
    letter-spacing: 0.1px;
    line-height: 26px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
}

.footer_top_1{
    
display: flex;
    
margin-bottom: 20px;
    
flex-direction: column;
    
box-sizing: border-box;
    
padding: 30px;
    
gap: 20px;
    
width: 25%;
}
.footer_top_1 img{
    height: 100px;
    width: 100px;
}
.icons{
    display: flex;
    color: #fff;
    gap: 10px;
}
.icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #fff;
    }
.footer_top_2{
    width: 25%;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 20px;
    box-sizing: border-box;
    color: #fff;
    font-size: 18px;
    letter-spacing: 0.3px;
    
}
.footer_top_2 a{
    text-decoration: none;
    list-style-type: none;
    color: #fff;
    font-size: 18px;
    letter-spacing: 0.3px;
}
.footer_top_3{
    width: 25%;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 20px;
    box-sizing: border-box;
    color: #fff;
    font-size: 18px;
    letter-spacing: 0.3px;
    img{
        border-radius: 5%;
        width: 150px;
        height: 40px
    }
}
.footer_top_3 a{
    color: #fff;
    font-size: 18px;
    letter-spacing: 0.3px; 
}
.footer_bottom{
    text-align: center;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    height: 20%;
}